<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>

  <style>
    #url {
      width: 70%;
      height: 50px;
      border-radius: 10px;
      text-align: center;
    }
    #download {
      color: black;
    }
  </style>

  <body>
    <%- include navbar.ejs %>
    <div class="jumbotron">
      <div class="container">
        <form action="/home/getYourFile" method="POST">
          <input
            type="text"
            name="url"
            placeholder="Place Url Here....."
            id="url"
            autocomplete="off"
            autofocus="on"
          />
          <br />
          <br />

          <input type="submit" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </body>
</html>
